@charset "UTF-8";
@import url('https://fonts.googlelapis.com/css2?family=Passion+One:whgt@400;700;900&display=swap');
@import url('https://fonts.googlelapis.com/css2?familySriracha&display=swap');
:root{
    --fonte1:Verdana, Geneva, Tahoma, Sans-serif;
    --fonte2:'Passion one', cursive;
    --fonte3:'Sriracha', cursive;
}
*{
    padding: 0px;
    margin: 0px;
}

html.body{
    font-family: var(--fonte2);
    min-height: 100vh;
    background-color: #a9a9a9;
}
header{
    background-color: #000;
    color: #fff;
    text-align: center;
}
header >h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    padding: 10vh;
    font-size: 4em;
    margin: auto;
}
header >p{
    padding-bottom: 50px;
}

header a, footer a{
    text-decoration: none;
    color: #fff;
    font-weight:bolder;
}
 header a:hover, footer a:hover{
    text-decoration:solid;
    color: #ff000f;
 }
 section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonte2);
    font-size: 1.5em;
 }
 section#img01{
    background-image: url("../imagens/background001.jpg");
    background-position:right center;
    background-size: cover;
    

 }
 section#img02{
background-image: url("../imagens/background002.jpg");
background-size: cover;
background-position:right center;

 }
 section >p{
    padding: 2em;
 }
 section.imagem >p{
    display: inline-block;
    padding: 4px;
    background-color: #0000007c;
    text-shadow: 1px 1px 0px rgb(42, 41, 41);
 }
 section.normal{
    background-color:#fff;
    color: #000;
    padding: 4px;
 }

 section.imagem{
    background-color: #000000;
    color: #fff;
 }
 footer{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 7px;
    font-family: var(--fonte1);
 }